.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.white-color{
  color:black !important;
  background-color: white !important;
  border: none;
  transition: background-color 0.3s;
}
.white-color:hover{
  background-color: #d3d4d5 !important;
}
.app-store{
  color:white !important;
  border-color: white !important;
  transition: color 0.4s,background-color 0.4s;
}
.app-store:hover{
    color:black !important;
    background-color: white !important;
}
#testimonial{
  margin-top: 2rem;
  background-color: rgb(248, 249, 250);
}
#testimonial > div {
  padding-top: 5rem;
}
.row{
  padding-top:3rem;
  padding-bottom: 3rem;
}

#pricing{
  margin-top: 4rem;
}
.p-3,.pb-md-4{
  padding-bottom: 0px;
}
.row-cols-md-3{
  padding-top: 8px !important;
}
#btn1{
  border-color: rgb(33, 37, 41);
  color:rgb(33, 37, 41);
  transition: color 0.3s, background-color .3s;
}
#btn1:hover{
  color:white;
  background-color:rgb(33, 37, 41); 
}
.btn2{
  color: white !important;
  border-color: rgb(33, 37, 41);
  background-color:rgb(33, 37, 41);
  transition: color 0.3s ,border-color 0.3s;
}
.btn2:hover{
    background-color:#424649 !important;
    border-color: #373b3e !important;
}
#card-header{
  background-color:rgb(33, 37, 41) !important;
}
.border-primary{
  border-color: black !important;
}
body{
  height: 100vh;
}
.row-cols-md-3{
    padding-bottom: 0px;
}
.nav-item > .nav-link{
  transition: padding-left 0.3s !important;
}
.nav-item > .nav-link:hover{
  padding-left: 1rem !important;
}
p.text-body-secondary{
  font-weight: bold;
  
}

